/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #eff6fb; /* Light blue background */
}

h1, h2 {
    color: #4c6e91; /* Dark blue text color */
}

.pose-data {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff; /* White background for each pose data */
}

.image-container {
    text-align: center;
}

.image-container img {
    max-width: 100%; /* Make images responsive */
    height: auto;
    margin-bottom: 10px;
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

#total-weight {
    margin-top: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

button:hover {
    background-color: #45a049;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    .image-container img {
        max-width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 24px; /* Adjust heading size for smaller screens */
    }
    .pose-data {
        padding: 8px;
    }
    table, th, td {
        padding: 6px;
        font-size: 14px; /* Adjust table font size */
    }
    button {
        padding: 8px 12px;
        font-size: 14px; /* Adjust button font size */
    }
}
