<!DOCTYPE html>
<html>
<head>
    <title>MeasureMates</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='image/favicon.ico') }}" type="image/x-icon">

</head>
<body>
    <h1>Upload Image</h1>
    <form action="/evaluate" method="post" enctype="multipart/form-data">
        <input type="file" name="image" accept="image/*" required multiple>
        <button type="submit">Evaluate</button>
    </form>
</body>
</html>
